<div class="about-modal">
  <div class="about-contain">
  <div class="close"></div>
    <div class="col-contain">
    <div class="col-left">
  <h3>ABOUT</h3>
  <p>Vestment <br>
  <i>noun</i><br>
  a garment, especially a ceremonial <br>
  or official robe
  </p>
  <p>Inspired by the culture of ceremonial 
  garments, Vestment creates unisex pieces 
  that disrupt the expectation of 
  traditional loungewear. Vestment’s 
  first collection reimagines the 
  tradition of the robe for wear both 
  indoors and out with optical, high 
  contrast patterns. </p>
      <p><br>Each garment is made to order 
  at a small factory in Brooklyn. 
  This reduces excess and ensures the highest quality. </p>
  <p>Please allow 2 weeks for 
  production and shipment.</p>
    </div>

    <div class="col-right">
      <h3>BUYERS/PRESS</h3>
      <p>For more information about Vestment or how to stock the collection please contact us at <a href="mailto:buyers@vestment.nyc">buyers@vestment.nyc</a></p>
      <p>For press inquiries please contact <a href="mailto:press@vestment.nyc">press@vestment.nyc</a> </p>
    </div>
    <div class="clear"></div>

    <div class="insta-contain">
      <a target="_blank" href="https://www.instagram.com/vestmentclothing/"><div class="instagram-logo"></div></a>
      <p>Follow us on Instagram</p>
    </div>
    </div>
  </div>
</div>