<div class="bottom-nav-contain">
  <div class="nav-link">
      <button>
          <span class="sr-only">Toggle navigation</span>
          <span></span>
          <span></span>
          <span></span>
      </button>
  </div>
  <a href='/pages/about-us' class="left-desc">Loungewear</a>
  <a href='/pages/about-us' class="right-desc">Made in USA</a>
</div>