<div class="featured-container">    
  <div class="featured-carousel">
    {% for image in product.images %}
    <div class="featured-panel">
      {{ image | img_url : "original" | img_tag : "Newest Release" }}
    </div>
    {% endfor %}
  </div>
  <div class="featured-copy-and-button">
    <p class="featured-header">
      {{ product.metafields.c_f.featured_header }}
    </p>
    <p class="featured-subhead">
      {{ product.metafields.c_f.featured_subhead }}
    </p>
    <div class="featured-button">
      Shop our newest release
    </div>
  </div>
</div>
