<div class="help-modal">
  <div class="help-contain">
  <div class="close"></div>
  <h3>We're here to help</h3>
    <p><a href="mailto:support@vestment.nyc">support@vestment.nyc</a> </p>

  <h3>Want More?</h3>
      <p><a href="mailto:buyers@vestment.nyc">buyers@vestment.nyc</a> </p>
    <p><a href="mailto:press@vestment.nyc">press@vestment.nyc</a> </p>

  </div>
</div>