<div class="made-modal">
  <div class="made-contain">
  <div class="close"></div>
    <div class="col-left">
  <h3>MADE IN USA</h3>
  <p>Each garment is made to order 
  at a small factory in Brooklyn. 
  This reduces excess and ensures the highest quality. </p>
  <p>Please allow 2 weeks for 
  production and shipment.</p>
  </div>
    <div class="col-right">
    {{ 'about-robe.jpg' | asset_url | img_tag : "Vestment Custom Label" }}
  </div>
    <div class="clear"></div>
  </div>
  
</div>