

<div class="modal-gallery">
                <div class="close"></div>
                <h2>{{ product.title }}</h2>
                <div class="gallery-container">
                  <ul class="zoom-slide">
                  
                  {% for image in product.images %} 
                      <li> <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}" /></li>
                  {% endfor %}

                  </ul>

                </div>
            </div>